old/chatbot/src/index.pug
doctype html
html(class="no-js" lang="")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title ChatBot
		meta(name="description" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap")
		link(rel="stylesheet" href="css/main.css?ver=26102020")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
		


	body
		section.secBox.secForm

		.chatBox
			.chatBar
				.chatClose
					img(src="img/ico_close.svg", alt="")
				.chatTitle.chatTitle1(style="display:none")
					img(src="img/ico_arrow_left.svg", alt="")
					span Inicio
				.chatTitle.chatTitle2(style="display:none")
					span Valoración de Satifacción
			.chatStep.chatStep1(style="display:block")
				.messageBox
					figure
						img(src="img/ico_profile.svg", alt="")
					.txtBox
						.typingBox
							span
							span
							span
						.txt
							img(src="img/ico_message_detalle.png", alt="")
							p ¡Bienvenido! Estimado cliente, cuente conmigo para atender sus consultas o dudas.
				.messageBox
					.txtBox
						.typingBox
							span
							span
							span
						.txt
							img(src="img/ico_message_detalle.png", alt="")
							p Cuéntame un poco más <strong>¿Cómo puedo ayudarle el día de hoy?</strong>
				.messageOptionBox
					.messageOption.messageOption1
						img(src="img/ico_message.svg", alt="")
						p Déjenos un mensaje
					.messageOption.messageOption2
						img(src="img/ico_phone.svg", alt="")
						p Contáctame por teléfono
			.chatStep.chatStep2(style="display:none")
				.messageBox
					figure
						img(src="img/ico_profile.svg", alt="")
					.txtBox
						.txt
							img(src="img/ico_message_detalle.png", alt="")
							p ¡Bienvenido! Estimado cliente, cuente conmigo para atender sus consultas o dudas.
				.formStep
					form#formStep1
						.formInputBox.material-form
							.input-block.floating-field.focus.has-value
								label(for="email_form1") Correo electrónico
								input.form-control(id="email_form1", name="email_form1",type="email",placeholder="correo@empresa.com")
							.select-block.focus.added
								label Seleccione su asunto
								.custom-select
									.active-list Producto de Inversión
									input.list-field(id="affair_form1", name="affair_form1",type="text")
									ul.drop-down-list
										li Producto de Inversión
										li Producto de ABC

						.formTextBox
							textarea(id="message_form1", name="message_form1",type="text",placeholder="Escriba su mensaje...")
							button.btnSend
								span ENVIAR
			.chatStep.chatStep3(style="display:none")
				.messageBox
					figure
						img(src="img/ico_profile.svg", alt="")
					.txt
						img(src="img/ico_message_detalle.png", alt="")
						p ¡Bienvenido! Estimado cliente, cuente conmigo para atender sus consultas o dudas.
				.formStep
					form#formStep2
						.formInputBox.material-form
							.input-block.floating-field.focus.has-value
								label(for="phone_form2") Ingrese su teléfono
								input.form-control(id="phone_form2", name="phone_form2",type="number",placeholder="+ 51 999 - 999 - 999")
							.select-block.focus.added
								label Seleccione su asunto
								.custom-select
									.active-list Producto de Inversión
									input.list-field(id="affair_form2", name="affair_form2",type="text")
									ul.drop-down-list
										li Producto de Inversión
										li Producto de ABC
						.formTextBox
							textarea(id="message_form2", name="message_form2",type="text",placeholder="Escriba su mensaje...")
							button.btnSend
								span ENVIAR
			.chatStep.chatStep4(style="display:none")
				.stepThanks
					.thanksBox
						.thanksCheck
							figure
								img(src="img/ico_check.svg", alt="")
							p Estimado cliente, hemos recibido su solicitud, la cual será procesada en un plazo no mayor a 24 horas.
						.thanksList
							a.btnThanks1
								span DEsea valorar el servicio
							a.btnThanks2
								span en otro momento
			.chatStep.chatStep5(style="display:none")
				.messageBox
					figure
						img(src="img/ico_profile.svg", alt="")
					.txtBox
						.typingBox
							span
							span
							span
						.txt
							img(src="img/ico_message_detalle.png", alt="")
							p ¿Qué tan fácil le fue enviar su consulta o duda?
				.formStep
					form#formStep3
						.formEmoticon
							ul
								li
									a(data-valor="1")
										img(src="img/ico_emoticon1.svg", alt="")
										span Muy difícil
								li
									a(data-valor="2")
										img(src="img/ico_emoticon2.svg", alt="")
								li
									a(data-valor="3")
										img(src="img/ico_emoticon3.svg", alt="")
								li
									a(data-valor="4")
										img(src="img/ico_emoticon4.svg", alt="")
								li
									a(data-valor="5")
										img(src="img/ico_emoticon5.svg", alt="")
										span Muy fácil
							input(type="hidden",name="formEmoticon",id="formEmoticon")
						.formTextBox
							textarea(id="message_form3", name="message_form3",type="text",placeholder="Déjenos un comentario...")
							button.btnSend
								span ENVIAR



		a.btnChat
			.open
				img(src="img/ico_faq.svg", alt="")
				span ¿Necesita ayuda?
			.close
				img(src="img/ico_close.svg", alt="")
				span Cerrar




		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js")
		


		script(src="scripts/main.min.js?ver=26102020")

old/chatbot/build/index.html
<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ChatBot</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&amp;display=swap">
    <link rel="stylesheet" href="css/main.css?ver=26102020">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
  </head>
  <body>
    <section class="secBox secForm"></section>
    <div class="chatBox">
      <div class="chatBar">
        <div class="chatClose"><img src="img/ico_close.svg" alt=""></div>
        <div class="chatTitle chatTitle1" style="display:none"><img src="img/ico_arrow_left.svg" alt=""><span>Enviar mensaje</span></div>
        <div class="chatTitle chatTitle2" style="display:none"><span>Valoración de Satifacción</span></div>
      </div>
      <div class="chatStep chatStep1" style="display:block">
        <div class="messageBox">
          <figure><img src="img/logo_inteligo.svg" alt=""></figure>
          <div class="txtBox">
            <div class="nameBot">Inteligobot</div>
            <div class="cleaner contentLoading">
              <div class="typingBox"><span></span><span></span><span></span></div>
              <div class="txt">
                <p><strong>¡Bienvenido!</strong> Estimado cliente, cuente conmigo para atender sus consultas o dudas.</p>
              </div>
            </div>
           
          </div>
        </div>
        <div class="messageBox">
          <div class="txtBox">
            
            <div class="typingBox"><span></span><span></span><span></span></div>
            <div class="txt">
              <p><strong>Déjame un mensaje</strong> para que pueda ayudarlo.</p>
            </div>
          </div>
        </div>
        <div class="messageOptionBox">
          <div class="messageOption messageOption1"><img src="img/ico_message.svg" alt="">
            <p>Enviar consulta o duda</p>
          </div>
          <div class="messageOption messageOption2"><img src="img/ico_phone.svg" alt="">
            <p>A mi número de teléfono</p>
          </div>
        </div>
      </div>
      <div class="chatStep chatStep2" style="display:none">
        <div class="messageBox">
          <figure><img src="img/logo_inteligo.svg" alt=""></figure>
          <div class="txtBox">
            <div class="txt">
              <p><strong>A continuación</strong> para seguir con el proceso es necesario completar los campos soliciados.</p>
            </div>
          </div>
        </div>
        <div class="formStep">
          <form id="formStep1" autocomplete="off">
            <div class="formInputBox material-form">
              <div class="formInputContent">
                <div class="input-block floating-field focus has-value">
                  <label for="email_form1">Correo electrónico</label>
                  <input class="form-control" id="email_form1" name="email_form1" type="email" placeholder="correo@empresa.com">
                </div>
              </div>              
            </div>

            <div class="formInputBox  material-form">
              <div class="formInputContent">
                <div class="select-block focus added">
                  <label>Asunto</label>
                  <div class="custom-select">
                    <div class="active-list">Producto de Inversión</div>
                    <input class="list-field" id="affair_form1" name="affair_form1" type="text">
                    <ul class="drop-down-list">
                      <li>Producto de Inversión</li>
                      <li>Producto de ABC</li>
                    </ul>
                  </div>
                </div>
              </div>
              
            </div>
            <div class="formTextBox">
              <textarea id="message_form1" name="message_form1" type="text" placeholder="Escriba su mensaje..."></textarea>
              <button class="btnSend"><span>ENVIAR</span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="chatStep chatStep3" style="display:none">
        <div class="messageBox">
          <figure><img src="img/logo_inteligo.svg" alt=""></figure>
          <div class="txt"><img src="img/ico_message_detalle.png" alt="">
            <p>¡Bienvenido! Estimado cliente, cuente conmigo para atender sus consultas o dudas.</p>
          </div>
        </div>
        <div class="formStep">
          <form id="formStep2" autocomplete="off">
            <div class="formInputBox material-form">
              <div class="input-block floating-field focus has-value form-validation">
                <label for="phone_form2">Ingrese su teléfono</label>
                <input class="form-control" id="phone_form2" name="phone_form2" type="number" placeholder="+ 51 999 - 999 - 999">
              </div>
              <div class="select-block focus added">
                <label>Seleccione su asunto</label>
                <div class="custom-select form-validation">
                  <div class="active-list">Producto de Inversión</div>
                  <input class="list-field" id="affair_form2" name="affair_form2" type="text">
                  <ul class="drop-down-list">
                    <li>Producto de Inversión</li>
                    <li>Producto de ABC</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="formTextBox">
              <textarea id="message_form2" name="message_form2" type="text" placeholder="Escriba su mensaje..."></textarea>
              <button class="btnSend"><span>ENVIAR</span></button>
            </div>
          </form>
        </div>
      </div>
      <div class="chatStep chatStep4" style="display:none">
        <div class="stepThanks">
          <div class="thanksBox">
            <div class="thanksCheck">
              <figure><img src="img/check-circle.gif" alt=""></figure>
              <p>Estimado cliente, hemos recibido su solicitud, la cual será procesada en un plazo no mayor a 24 horas.</p>
            </div>
            <div class="thanksList"><a class="btnThanks1"><span>Valorar el servicio</span></a><a class="btnThanks2"><span>en otro momento</span></a></div>
          </div>
        </div>
      </div>
      <div class="chatStep chatStep5" style="display:none">
        <div class="messageBox">
          <figure><img src="img/logo_inteligo.svg" alt=""></figure>
          <div class="txtBox">
            <div class="typingBox"><span></span><span></span><span></span></div>
            <div class="txt">
              <p>¿Qué tan fácil le fue enviar su consulta o duda?</p>
            </div>
          </div>
        </div>
        <div class="formStep">
          <form id="formStep3" autocomplete="off">
            <div class="formEmoticon">
              <ul>
                <li><a data-valor="1"><img src="img/ico_emoticon1.svg" alt=""><span>Muy difícil</span></a></li>
                <li><a data-valor="2"><img src="img/ico_emoticon2.svg" alt=""></a></li>
                <li><a data-valor="3"><img src="img/ico_emoticon3.svg" alt=""></a></li>
                <li><a data-valor="4"><img src="img/ico_emoticon4.svg" alt=""></a></li>
                <li><a data-valor="5"><img src="img/ico_emoticon5.svg" alt=""><span>Muy fácil</span></a></li>
              </ul>
              <input type="hidden" name="formEmoticon" id="formEmoticon">
            </div>
            <div class="formTextBox">
              <textarea id="message_form3" name="message_form3" type="text" placeholder="Déjenos un comentario..."></textarea>
              <button class="btnSend"><span>ENVIAR</span></button>
            </div>
          </form>
        </div>
      </div>
    </div><a class="btnChat">
      <div class="open"><img src="img/ico_faq.svg" alt=""><span>¿Necesita ayuda?</span></div>
      <div class="close"><img src="img/ico_close.svg" alt=""><span>Cerrar</span></div></a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="scripts/main.min.js?ver=26102020"></script>
  </body>
</html>
